{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}

{% block title %}
  {{ meta_title }}
{% endblock %}
{% block description %}
  {{ meta_description }}
{% endblock %}
{% block keywords %}
  {{ meta_keywords }}
{% endblock %}

{% block content %}
  <!-- ========================= section 1 ====================== -->
  <div class="container">
    <div class="row my-row align-items-center">
      <div class="col-md col-lg mt-lg-1b fs-">
        <!-- بخش متن -->
        <h4 class="mb-4 mt-lg-0 fw-bold text-white">تواین دیزاین</h4>
        <h5 class="text-primary mb-3 mb-lg-4 mt-lg-4">چگونه با شما در ارتباط باشیم؟</h5>
        <p class="lh-lg mb-lg-5 text-white align-text-justify">اگر تمایل به برقراری تماس و ایجاد ارتباط جهت همکاری، اطلاع از خدمات ما و هزینه آن‌ها و همچنین ارسال پیشنهادات و نظرات مختلف را به ما را دارید، می‌توانید از راه‌های ارتباطی زیر با ما در تماس باشید.</p>
      </div>
      <!-- بخش تصویر -->
      <div class="col-md col-lg-4 mt-sm-5">
        <img src="{% static 'pictures/mention-77.png' %}" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="mb-4"></div>
  <!-- end section 1 -->

  <!-- نوار جدا کننده -->
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col line"></div>
      <div class="col-3 col-lg-2 mx-auto">
        <h3 class="text-white">راه های ارتباطی</h3>
      </div>
      <div class="col line"></div>
    </div>
  </div>
  <div class="mb-4"></div>

  <!-- ======================= section 2==================== -->
  <div class="container">
    <div class="row">
      <!-- بخش کارت ها -->
      <div class="col col-md-4 my-card my-auto">
        <div class="row">
          <!-- کارت اول ، تصویر و متن -->
          <div class="col">
            <img src="{% static 'pictures/sending-emails-81.png' %}" class="card-image mt-2" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1 class="text-white">آدرس ایمیل</h1>
            <p class="text-white">ارتباط با ایمیل مدیران</p>
            <div class="mb-3 mt-3 p-3">
              <input type="text" readonly class="form-control auto-height-input btn mb-2 btn-outline-secondary bi-envelope-at" value="{{ m_profile.user }}" onclick="copyToClipboard(this)" />
              <input type="text" readonly class="form-control auto-height-input btn btn-outline-secondary bi-envelope-at" value="{{ a_profile.user }}" onclick="copyToClipboard(this)" />
            </div>
          </div>
        </div>
      </div>

      <div class="col col-md-4 my-card my-auto">
        <div class="row">
          <!-- کارت دوم ، تصویر و متن -->
          <div class="col">
            <img src="{% static 'pictures/notification-4.png' %}" class="card-image mt-2" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1 class="text-white">تلفن تماس</h1>
            <p class="text-white">شما می‌توانید با ما در تماس باشید.</p>
            <div class="mb-3 mt-3 p-3">
              <input type="text" readonly class="form-control btn mb-2 btn-outline-secondary bi-envelope-at" value="{{ m_profile.phone }}" onclick="copyToClipboard(this)" />
              <input type="text" readonly class="form-control btn btn-outline-secondary bi-envelope-at" value="{{ a_profile.phone }}" onclick="copyToClipboard(this)" />
            </div>
          </div>
        </div>
      </div>

      <div class="col col-md-4 my-card my-auto">
        <div class="row">
          <!-- کارت سوم ، تصویر و متن -->
          <div class="col">
            <img src="{% static 'pictures/social-media.png' %}" class="card-image mt-2" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1 class="text-white">شبکه‌های اجتماعی</h1>
            <p class="text-white">با ما در شبکه‌های اجتماعی همراه باشید.</p>
            <div class="mb-3 px-3">
              <!-- بخش تصاویر لینک دار -->
              <div class="row mt-1 align-items-center">
                <div class="col-4 col-md-2 text-white mx-auto my-col">
                  <a href="https://github.com"><i class="bi bi-github fs-1"></i></a>
                </div>
                <div class="col-4 col-md-2 text-white mx-auto my-col">
                  <a href="https://google.com"><i class="bi bi-globe2 fs-1"></i></a>
                </div>
                <div class="col-4 col-md-2 text-white mx-auto my-col">
                  <a href="https://gmail.com"><i class="bi bi-envelope-at fs-1"></i></a>
                </div>
                <div class="col-4 col-md-2 text-white mx-auto my-col">
                  <a href="https://instagram.com"><i class="bi bi-instagram fs-1"></i></a>
                </div>
                <div class="col-4 col-md-2 text-white mx-auto my-col">
                  <a href="https://linkedin.com"><i class="bi bi-linkedin fs-1"></i></a>
                </div>
                <div class="col-4 col-md-2 text-white mx-auto my-col">
                  <a href="https://telegram.org"><i class="bi bi-telegram fs-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end section 2 -->

  <!-- ====================== section 3 ==================== -->
  <section>
    <div class="container" id="contactus">
      <div class="row text-center"></div>
      <div class="row align-items-center">
        <div class="col-md-6">
          <!-- نمایش پیغام مورد نظر با توجه به ارسال فرم -->
          {% for message in messages %}
            <div class="container-fuild p-0">
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
            </div>
          {% endfor %}

          <!-- فورم ایمیل -->
          <form action="#contactus" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label text-white">ایمیل</label>
              <input type="email" class="form-control bg-light" name="email" placeholder="ایمیل" />
            </div>
            <!-- فورم متن -->
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label text-white">متن پیام</label>
              <textarea class="form-control" name="message" rows="3" placeholder="متن پیام را بنویسید."></textarea>
            </div>
            <!-- دکمه ارسال -->
            <button class="btn btn-outline-info" type="submit">ارسال پیام</button>
          </form>
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1">
          <!-- تصویر -->
          <img src="{% static 'pictures/mention-14.png' %}" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
  <!-- end section 3 -->
{% endblock %}
